<div class="h-100 flex-column d-flex container-fluid pb10">
  <div class="row header">
    <div class="col">
      <p class="header-text"><b>To do list:</b></p>
    </div>
    <div class="col-2">
      <button mat-fab color="cyan" (click)="addNewTodo()">
        <fa-icon [icon]="faPlus" matTooltip="Добавить"></fa-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let title of titles" class="flex-grow-1 card-container col-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title><b>{{title.text}}</b></mat-card-title>
        </mat-card-header>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-content>
          <div class="row" *ngFor="let todo of title.list">
            <div class="col-1">
              <mat-checkbox
                [checked]="todo.checked"
                (change)="checkTodo(todo.id,$event.checked)">
                {{todo.text}}
              </mat-checkbox>
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>
