<form [formGroup]="toDoForm" class="form">
  <div class="row">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Название:</mat-label>
        <mat-select formControlName="title_id">
          <mat-option *ngFor="let sel of select"  [value]="sel.id">{{sel.text}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Содержание</mat-label>
        <textarea matInput formControlName="text"></textarea>
      </mat-form-field>

    </div>
  </div>

  <button mat-button color="primary" (click)="closeDialog(false)">Закрыть</button>
  <button mat-button color="primary" (click)="closeDialog(true)">Сохранить</button>

</form>
